/*
Theme Name: SKT Filmmaker Child
Theme URI: 
Author: Carlos Galea
Decription: SKT Filmmaker Child Theme
Template: skt-filmmaker
Version: 1.0.10
*/

h1 {
	text-transform: uppercase;
	border-bottom: 5px solid red;
	margin-bottom: 50px;
	margin-top: -14px;
}

h2 {
	text-decoration:underline;
	text-decoration-color: red;
}

h3 {
	text-shadow: 0px 0px 35px white;
}

#films{
	width: 200px;
	height: 300px;
	margin-bottom:70px
	
}

#img{
	height:290px;
  	width:210px;	
	border-radius:25px;
	border-style:solid;
	border-color:black;
	
}

#films:hover{
	opacity: 0.7; 
}

#films_genre{
	padding-top: 10px;
	width:200px;
	margin-bottom: 30px;
}

#films_genre:hover{
	opacity: 0.7; 
}

#img_genre{
	height:250px;
  	width:100%;	
	border-radius:25px;
	border-style:solid;
	border-color:black;
}

figcaption {
	font-size: 15px;
	color: black;
	font-weight: bold;
	text-align:center;
	width:100%;
	margin-top:10px
}

.widget-column-1{
	border-style: solid;
	border-color: red;
	border-width: 3px;
	border-radius: 10px;
	padding:10px;
	width: 30%;
	margin-top:-20px;
	margin-right: 90px;
}

.widget-column-2{
	border-style: solid;
	border-color: red;
	border-width: 3px;
	border-radius: 10px;
	padding:10px;
	width: 30%;
	margin-top:-20px;
	margin-right:90px;
}

.textwidget{
	border-style: solid;
	border-color: red;
	border-width: 3px;
	border-radius: 10px;
	padding:10px;
	width: 100%;
	margin-top:-20px;
}

.kk-star-ratings{
	margin-bottom:35px;
	width:100%;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:15px;
}